{% extends 'base.html' %}
{% load static %}

{% block style %}
<link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;700&display=swap" rel="stylesheet">
<link href="{% static 'css/story5.css' %}" rel="stylesheet">
{% endblock %}

{% block navcolor %}navbar-light{% endblock %}
{% block content %}
<div class="light">
    <div class="container p-5">
        <h1>Mata Kuliah Azhar</h1>
        
        <div class="container">
            <div class="row p-5">
                <div class="col"></div>
                <div class="col-auto">
                    <a class="btn btn-info" href="{% url 'matkul_add' %}">
                        Tambah Mata Kuliah
                    </a>
                </div>
                <div class="col"></div>
            </div>
            
            {% for matkul in matkuls %}
            <div class="container p-3">
                <div class="row">
                    <div class="col">
                        <a class="a-landing" href="{% url 'matkul_page' id=matkul.id %}"><h2>{{ matkul.nama }}</h2></a>
                        <div class="container">
                            <p>Dosen: {{ matkul.dosen }}</p>
                            <p>SKS: {{ matkul.jumlah_sks }}</p>
                            <p>Semester Tahun: {{ matkul.semester_tahun }}</p>
                        </div>
                    </div>
                    <div class="col-auto my-auto">
                        <a class="btn btn-danger" href="{% url 'matkul_delete' id=matkul.id %}">Hapus</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}