{% extends 'story5/base.html' %}

{% block content%}
<div class="dark">
    <div class="container pt-5">
        <h1>{{ matkul.nama }}</h1>
        <div class="container p-5">
            <h3>Dosen Pengajar: {{ matkul.dosen }}</h3>
            <h3>Jumlah SKS: {{ matkul.jumlah_sks }}</h3>
            <h3>Semester Tahun: {{ matkul.semester_tahun }}</h3>
            <h3>Ruang Kelas: {{ matkul.ruang_kelas }}</h3>
            <h3>Deskripsi:</h3> 
            <div class="container">
                <p>{{ matkul.deskripsi }}</p>
            </div>
            <div class="d-flex justify-content-center p-5">
                <a class="btn btn-info" href="{% url 'matkul_list' %}">Back</a>
            </div>
        </div>
    </div>    
</div>

{% endblock %}