* {
    font-family: 'Red Hat Display', sans-serif;
}

html, body {
    height: 100%;
}

.page {
    height: 100%;
}

.social {
    height: 50%;
}

.dark {
    background-color: #1F2833;
}

.light {
    background-color: #C5C6C7;
}

.dark h1 {
    color: #66FCF1;
    font-weight: 700;
    font-size: 72px;
}

.dark h5 {
    font-weight: 400;
    font-size: 18px;
    color: #C5C6C7;
}

.dark h4 {
    color: #66FCF1;
    font-weight: 700;
    font-size: 18px;
}

.light h1 {
    font-weight: 700;
    font-size: 72px;
    color: #45A29E;
    text-align: center;
    margin: 0;
}

.light h3 {
    font-weight: 400;
    font-size: 24px;
    color: #0B0C10;
}

.light h2 {
    font-weight: 700;
    font-size: 36px;
    color: #0B0C10;
}

.profile img {
    width: 300px;
    border-radius: 50%;
}

.list3 {
    text-align: left;
    color: #0B0C10;
    font-size: 36px;
    font-weight: 700;
}

.icon {
    width: 100px;
}

nav {
    background-color: #1F2833;
}