* {
    font-family: 'Red Hat Display', sans-serif;
}

html, body {
    height: 100%;
}

.light {
    background-color: #C5C6C7;
    min-height: 100%;
}

.light h1 {
    font-weight: 700;
    font-size: 72px;
    color: #45A29E;
    text-align: center;
    margin: 0;
}

.light h2 {
    font-weight: 700;
    font-size: 36px;
    color: #45A29E;
}

.light h3 {
    font-weight: 700;
    font-size: 25px;
    color: #C5C6C7;
}

.light p {
    font-size: 18px;
    font-weight: 300;
    color: #0B0C10;
}

.dark {
    background-color: #1F2833;
    min-height: 100%;
}

.dark h1 {
    color: #66FCF1;
    font-weight: 700;
    font-size: 72px;
    text-align: center;
}

.dark h3 {
    color: #66FCF1;
    font-weight: 300;
    font-size: 36px;
}

.dark p {
    font-weight: 400;
    font-size: 18px;
    color: #C5C6C7;
}

.dark label {
    font-weight: 400;
    font-size: 18px;
    color: #C5C6C7;
}

a {
    text-decoration: none;
}

.a-landing {
    color: #45A29E;
    font-weight: 700;
    font-size: 36px;
}

.a-landing:hover {
    color: #45A29E;
    font-weight: 700;
    font-size: 36px;
    border-bottom: 1px solid #45A29E;
}

.btn-info {
    background-color: #45A29E;
    color: #C5C6C7;
    font-size: 20px;
}

.btn-form {
    background-color: #66FCF1;
    color: #1F2833;
    font-size: 18px;
}