{% extends 'base.html' %}
{% load static %}
{% block style %}
<meta charset="UTF-8">
<title>{{ name }}</title>
<link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300&display=swap" rel="stylesheet">
<style>
    html,body {
        height: 100%;
        margin: 0px;
    }

    * {
        font-family: 'Kumbh Sans', sans-serif;
    }

    .main {
        max-width: 1000px;
        position: relative;
    }

    .center {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2%;
        width: 30%;
    }

    .content {
        max-width: 800px;
    }

    .text {
        max-width: 500px;
    }

    .judul {
        font-weight: bold;
    }

    .contact img {
        max-width: 50px;
    }

    nav {
        background-color: #ffffff00;
    }
</style>
{% endblock %}

{% block navcolor %} navbar-light {% endblock %}

{% block content %}
<div class="container">
    <div class="main center">
        <div class="img"><img src="{% static 'img/face.jpg' %}" alt="face"></div>
        <div class="content">
            <h1>Hello! my name is {{ name }}</h1>
            <h3>NPM : {{ npm }}</h3>
            <h3>Angkatan : 2018</h3>
            <h3>Tempat Kuliah : Fasilkom UI</h3>
            <h3>Hobi : Nonton film & Main di komputer</h3>
            <div class="text">
                <h2> 
                    Halo! Saya Azhar, mahasiswa Ilmu Komputer yang
                    sedang belajar di Universitas Indonesia.
                    Website ini adalah bagian dari latihan
                    Web Programming saya.
                </h2>
            </div>
        </div>
        <div class="table">
            <table style="width: 60%; margin: auto;">
                <tr class="judul">
                    <td>Institusi</td>
                    <td>Tahun</td>
                </tr>
                <tr>
                    <td>Madina Islamic School</td>
                    <td>2006 - 2012</td>
                </tr>
                <tr>
                    <td>SMPN 77 Jakarta</td>
                    <td>2012 - 2015</td>
                </tr>
                <tr>
                    <td>SMAN 77 Jakarta</td>
                    <td>2015 - 2018</td>
                </tr>
                <tr>
                    <td>Universitas Indonesia</td>
                    <td>2018 - Now</td>
                </tr>
            </table>
        </div>
        <div class="contact">
            <a href="https://line.me/ti/p/Nvox55p3Rd">
                <img src="{% static 'img/line.png' %}" alt="line">
            </a>
        </div>
    </div>
</div>
{% endblock %}