{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    {% block style %}
    <link href="{% static 'css/lab_3.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;700&display=swap" rel="stylesheet">
    {% endblock %}
</head>
<body>
    <nav class="navbar fixed-top navbar-expand-lg {% block navcolor %}navbar-dark{% endblock %}">
        <a class="navbar-brand" href="/">Azhar</a>
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Story 4
                  </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/#page1">Profile</a>
                    <a class="dropdown-item" href="/#page2">Hobbies</a>
                    <a class="dropdown-item" href="/#page3">Skills</a>
                    <a class="dropdown-item" href="/#page4">Contact</a>
                </div>
            </li>
            <li>
                <a class="nav-link" href="/lab-1">Story 1</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Example page
                  </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/story4/other/#page1">Informasi umum</a>
                    <a class="dropdown-item" href="/story4/other/#page2">Informasi lain</a>
                    <a class="dropdown-item" href="/story4/other/#page3">Temukan saya</a>
                </div>
            </li>
            <li>
                <a class="nav-link" href="/story5">Mata Kuliah</a>
            </li>
        </ul>
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>