{% extends "base.html" %}
{% load static %}


{% block content %}
<!-- Page 1 - profile -->
<div class="dark page profile" id="page1">
    <div class="row h-100">
        <div class="col-3"></div>
        <div class="col-2 my-auto">
            <div class="container">
                <h1>HALO</h1>   
                <h5>
                    Saya Azhar, mahasiswa Ilmu
                    Komputer yang sedang belajar di
                    Universitas Indonesia. Website ini 
                    adalah bagian dari latihan Web 
                    Programming saya.
                </h5>
            </div>
        </div>
        <div class="col-auto my-auto">
            <img src="{% static 'img/face.jpg' %}">
        </div>
        <div class="col-2 my-auto">
            <div class="container">
                <h4>Nama:</h4>
                <h5>Muhammad Azhar Hassanuddin</h5>
                <h4>Umur:</h4>
                <h5>19 tahun</h5>
                <h4>Tempat tinggal:</h4>
                <h5>Jakarta, Indonesia</h5>
            </div>
        </div>
    </div>
</div>

<!-- Page 2 - hobbies -->
<div class="light page" id="page2">
    <div class="row h-100">
        <div class="col my-auto">
            <h1>HOBBIES</h1>
            <div class="container">
                <div class="row">
                    <div class="col-3"></div>
                    <div class="col-auto my-auto">
                        <img class="icon" src="{% static 'img/computer.png' %}">
                    </div>
                    <div class="col-6 my-auto">
                        <h3>Playing on my computer</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3"></div>
                    <div class="col-auto my-auto">
                        <img class="icon" src="{% static 'img/tv.png' %}">
                    </div>
                    <div class="col-6 my-auto">
                        <h3>Watching movies & TV shows</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3"></div>
                    <div class="col-auto my-auto">
                        <img class="icon" src="{% static 'img/coding.png' %}">
                    </div>
                    <div class="col-6 my-auto">
                        <h3>Code</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Page 3 - skills -->
<div class="light page" id="page3">
    <div class="row h-100">
        <div class="col my-auto">
            <h1>SKILLS</h1>
            <div class="container w-25">
                <div class="row">
                    <div class="col"><h2>Python</h2></div>
                    <div class="col"><h2>MySQL</h2></div>
                </div>
                <div class="row">
                    <div class="col"><h2>Java</h2></div>
                    <div class="col"><h2>HTML</h2></div>
                </div>
                <div class="row">
                    <div class="col"><h2>Javascript</h2></div>
                    <div class="col"><h2>CSS</h2></div>
                </div>
                <div class="row">
                    <div class="col"><h2>Django</h2></div>
                    <div class="col"><h2>Bootstrap</h2></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Page 4 - socials -->
<div class="dark social" id="page4">
    <div class="row h-100">
        <div class="col my-auto">
            <h1 style="text-align: center;">CONTACT ME!</h1>
            <div class="container">
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-auto">
                        <a href="https://line.me/ti/p/Nvox55p3Rd">
                            <img class="icon" src="{% static 'img/linedark.png' %}">
                        </a>
                    </div>
                    <div class="col-3 my-auto"><h5>@azhartampan</h5></div>
                    <div class="col-auto">
                        <a href="mailto: a.hassanuddin02@gmail.com">
                            <img class="icon" src="{% static 'img/at.png' %}">
                        </a>
                    </div>
                    <div class="col-3 my-auto"><h5>a.hassanuddin02@gmail.com</h5></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}