{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- page 1 - intro -->
<div class="dark page profile" id="page1">
    <div class="row h-100">
        <div class="col-3"></div>
        <div class="col-2 my-auto">
            <div class="container">
                <h1>Kucing</h1>
                <h5>
                    Ini adalah gambar kucing yang saya temukan di internet.
                    Mukanya aneh.
                </h5>
            </div>
        </div>
        <div class="col-auto my-auto">
            <img src="{% static 'img/cat.jpg' %}">
        </div>
        <div class="col-2 my-auto">
            <div class="container">
                <h4>Warna bulu:</h4>
                <h5>Putih</h5>
                <h4>Warna mata:</h4>
                <h5>Mungkin hijau kurang tahu juga</h5>
                <h4>Arah mata:</h4>
                <h5>Dua arah</h5>
            </div>
        </div>
    </div>
</div>

<!-- page 2 - other info -->
<div class="light page" id="page2">
    <div class="row h-100">
        <div class="col my-auto">
            <h1>INFO LAIN</h1>
            <div class="container w-25">
                <div class="row">
                    <div class="col"><h2>Itu saja sih</h2></div>
                    <div class="col"><h2>yang bisa</h2></div>
                </div>
                <div class="row">
                    <div class="col"><h2>saya katakan</h2></div>
                    <div class="col"><h2>tentang</h2></div>
                </div>
                <div class="row">
                    <div class="col"><h2>kucing</h2></div>
                    <div class="col"><h2>ini</h2></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- page 3 - socials -->
<div class="dark social" id="page3">
    <div class="row h-100">
        <div class="col my-auto">
            <h1 style="text-align: center;">CONTACT ME!</h1>
            <div class="container">
                <div class="row">
                    <div class="col-4"></div>
                    <div class="col-auto">
                        <a href="https://www.pinterest.com/pin/464222674088315477/">
                            <img class="icon" src="{% static 'img/pinterest.png' %}">
                        </a>
                    </div>
                    <div class="col-3 my-auto"><h5>Gambar kucingnya</h5></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}